/* Header & logo */

nav{
    width: 100%;
    margin: 0 auto;
    top: 0px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 25px 0px;
}

nav a:hover{
    color:#ffdab9;
    border-bottom: 2px solid #ffdab9;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
    display:flex;
}
.image
{
    z-index: 99;
    height: 50pxpx;
    width: auto;
}

.stuck 
{
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 50px;
    display: flex;
    border-radius: 10px;
    position: fixed;
}



/*Main*/

main{
    margin-top: 100px;
    margin-bottom: 50px;
}
.formstyle{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
}
.formstyle h1{
	background: #8ef7f7;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.formstyle input[type="text"],
.formstyle textarea,
.formstyle select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.formstyle input[type="text"]:focus,
.formstyle textarea:focus,
.formstyle select:focus
{
	box-shadow: 0 0 5px #8ef7f7;
	padding: 3%;
	border: 1px solid #2dacf5;
}

.formstyle input[type="submit"],
.formstyle input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #8ef7f7;
	border-bottom: 2px solid #8ef7f7;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
	font-size: 90%;
}
.formstyle input[type="submit"]:hover,
.formstyle input[type="button"]:hover{
	background: #8ef7f7;
}

/* STYLE POUR LE FOOTER GENERAL */
.footer-general{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;  
    background-color: rgb(0, 0, 0); 
}

.horaires-info{
    display: flex;
    justify-content: space-evenly;
    background-color: #e0ffff;
}

.info-colone{
    display: flex;
    flex-direction: column;
    background-color: #e0ffff;
    
}


.liste-rangement{
    display: flex;
    background-color:  #e0ffff;
}

.footer-general ul{
    list-style-type: none;  
}

.bouton-inscription{
background-color: #e0ffff;
display: flex;
justify-content: center ;
}