body
{
    font-family: sans-serif;
}

.fondl
{
    background: linear-gradient(rgba(177, 111, 13, 0.363), 10%, rgba(23, 150, 209, 0.562));
    color: black;
}
article
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.selection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.Prest
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.selection2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: nowrap;
}
.Presentation
{
    align-items: center;
    text-align: center;
    margin-left: 100px ;
    margin-right: 100px ;
    
}
.Presentation h1 
{
    color: rgb(255, 230, 0);
    font-size: 40px;
}
.imageLA
{
    height: 250px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}


.polaroid
{
    margin: 15px;
}
div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
div.container {
    text-align: center;
    padding: 10px 20px;
  }

.preimage
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

details
{
    width: 40%;
    min-height: 5px;
    max-width: 700px;
    padding: 5px 5px 5px 5px;
    margin: 12px ;
    font-size: 15px;
    border-radius: 15px;
}


details[open] {
min-height: 500px;
box-shadow: 2px 2px 20px rgba(0,0,0,.2);
color: #fff;
text-align: center;
}

details p {
    color: rgb(255, 0, 0);
font-weight: 300;
font-family: 'Satisfy', cursive;
}

summary {
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 500;
cursor: pointer;
font-family: 'Acme', sans-serif;

}

summary:focus {
outline: none;
box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
display: none
}

.control-icon {
fill: rebeccapurple;
transition: .3s ease;
pointer-events: none;
}

.control-icon-close {
display: none;
}

details[open] .control-icon-close {
display: initial;
transition: .3s ease;
}

details[open] .control-icon-expand {
display: none;
}

details[open] summary:hover::after {
animation: pulse 1s ease;
}

@keyframes pulse {
25% {
transform: scale(1.1);
}
50% {
transform: scale(1);
}
75% {
transform: scale(1.1);
}
100% {
transform: scale(1);
}
}


.polaroid1
{
    margin: 25px;
}
div.polaroid1 {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
  }
  
div.container1 {
    text-align: center;
    padding: 10px 20px;
  }

#opacity1 img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#opacity1:hover img {
	opacity: .5;
}

.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

p::first-letter
{
    text-transform: uppercase;
    font-size: 200%;
}
.text
{
    font-size: 20px ;
    color: black;
}